<!doctype html>

<html>

    <head>
        
        <title>The Satisfactory Single-page</title>
        
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    
    </head>
    
    <body>
        
        <div class="container">
            
            <!-- hero -->
            <div class="hero">
                <h1>Daft Punk</h1>
                <h2>Tron: Legacy / Human After All / Discovery / Homework</small></h2>
            </div>
            <!-- END hero -->
            
            <!-- sidekicks -->
            <div class="row clearfix">
                
                <!-- bio -->
                <div class="column4 sidekick">
                    <h1>Biography</h1>
                    <p>Daft Punk is an electronic music duo consisting of French musicians Guy-Manuel de Homem-Christo and Thomas Bangalter. Daft Punk reached significant popularity in the late 1990s house movement in France and met with continued success in the years following, combining elements of house with synthpop. The duo is also credited with producing songs that are considered essential in the French house scene. Daft Punk are noted for their elaborate live shows, in which visual elements and effects are incorporated with the music. The group is also known for its emphasis on visual and story components associated with their musical productions, as well as for wearing disguises, most notably, ornate robot costumes in public and while performing.</p>
                </div>
                <!-- END bio -->
                
                <!-- members -->
                <div class="column8 members">
                    <h1>Members</h1>
                    <div class="row clearfix">
                        <div class="column4 member">
                            <h1>Guy-Manuel de Homem-Christo</h1>
                            <p>Guillaume Emmanuel "Guy-Manuel" de Homem-Christo (born February 8, 1974) is a founding member of the French house music duo Daft Punk, along with Thomas Bangalter.</p>
                            <p>He has also produced several works from his record label Crydamoure with label co-owner Éric Chedeville. He and Chedeville formed the musical duo Le Knight Club. Aside from music production, de Homem-Christo has also worked as a film director.</p>
                        </div>
                        <div class="column4 member">
                            <h1>Thomas Bangalter</h1>
                            <p>Thomas Bangalter (born January 3, 1975) is a French electronic musician best known as a member of the French house music duo Daft Punk. He has also recorded and released music as a member of the trio Stardust, the duo Together, and as a solo artist including compositions for the film Irréversible.</p>
                            <p>Thomas Bangalter owns a music label called Roulé. Outside of music production, his credits include film director and cinematographer.</p>
                        </div>
                    </div>
                </div>
                <!-- END members -->
                
                <!-- music -->
                <!--
                <div class="column4 sidekick">
                    <h1>Discography</h1>
                    <h2>Human After All</h2>
                    <p>Released in March 2005, this record speaks for itself.</p>
                    <ul>
                        <li>Robot Rock</li>
                        <li>Technologic</li>
                        <li>Human After All</li>
                        <li>The Prime Time of Your Life</li>
                        <li>The Brainwasher</li>
                    </ul>
                    <h2>Discovery</h2>
                    <p>Released in 2001, this is a distinctly synthpop-oriented attempt to reconnect with a playful, open-minded attitude associated with the discovery phase of childhood.</p>
                    <ul>
                        <li>One More Time</li>
                        <li>Digital Love</li>
                        <li>Harder, Better, Faster, Stronger</li>
                    </ul>
                </div>
                -->
                <!-- END music -->
                
                <!-- events -->
                <!--
                <div class="column4 sidekick">
                    <h1>Events</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Eurockéennes Festival</td>
                                <td>June 30, 2006</td>
                                <td>Belfort, France</td>
                            </tr>
                            <tr>
                                <td>Summercase Festival</td>
                                <td>July 14, 2006</td>
                                <td>Barcelona, Spain</td>
                            </tr>
                            <tr>
                                <td>Summercase Festival</td>
                                <td>July 15, 2006</td>
                                <td>Madrid, Spain</td>
                            </tr>
                            <tr>
                                <td>Global Gathering Festival</td>
                                <td>July 26, 2006</td>
                                <td>Stratford-upon-Avon, United Kingdom</td>
                            </tr>
                            <tr>
                                <td>Sudoeste Festival</td>
                                <td>August 8, 2006</td>
                                <td>Zambujeira do Mar, Portugal</td>
                            </tr>
                            <tr>
                                <td>Summer Sonic Festival</td>
                                <td> August 12, 2006</td>
                                <td>Osaka, Japan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                -->
                <!-- END events -->
                
            </div>
            <!-- END sidekicks -->
            
        </div>
        
    </body>

</html>